body {
    min-width: 370px;
    font-family: 'Open Sans', sans-serif;
    /* Note: scroll-behavior !work on ms/safari */
    scroll-behavior: smooth;
}

.screenheight {
    /* sets container to screen height */
    height: 100vh;
    overflow: auto;
}


/* Color palette */

.text-color-light {
    color: #ffffff;
}

.text-color-dark {
    color: #00004b;
}

.text-color-accent-primary {
    color: #ff16ff;
}

.text-color-accent-secondary {
    color: #5af7dc;
}

.text-color-accent-tertiary {
    color: #0d3aff;
}

.text-color-secondary {
    color: #9999b4;
}

.bg-color-light {
    background-color: #ffffff;
}

.bg-color-dark {
    background-color: #06113a;
}

.bg-color-dim {
    background-color: black;
    opacity: 0.7;
}

.bg-color-accent-primary {
    background-color: #ff16ff;
}

.bg-color-accent-secondary {
    background-color: #5af7dc;
}

.bg-color-accent-tertiary {
    background-color: #0d3aff;
}


/*     */

p {
    line-height: 1.4;
    font-weight: 200;
    letter-spacing: 0.03em;
}

h1 {
    font-size: 1.6em;
    font-weight: 200;
    letter-spacing: 0.2em;
    line-height: 1.18;
    
}

h2 {
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 0.2em;
    line-height: 1.25;
    margin-bottom: 0.7em;
}

b,
strong {
    font-weight: bold;
}


/* navbar */

.navbar-nav li a:hover,
.navbar-nav .active {
    color: #ff16ff;
    /* color of active link and hoover */
}

.progress-bar {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    background: #06113a;
    overflow: hidden;
}

.progress-bar-inner {
    left: 50%;
}

.progress-bar .progress-bar-inner {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #06113a;
    /* makes gradiant colors */
    background: linear-gradient(to right, #06113a 0%, #5AF7DC 50%, #06113a 100%);
    transform: translateX(-50%);
}


/* players */

.player-carousel-background {
    background-image: url(../img/playerStadium.jpg);
    background-size: cover;
}


/* news */

.fit-image {
    object-fit: cover;
}

/* footer */

footer p {
    margin-bottom: 1em;
    font-weight: 400;
}

.fab:hover,
.fas:hover,
footer a {
    color: #ff16ff;
}


/* landing page */

.home_banner_area {
    background: url(../img/big1.jpg) no-repeat center bottom;
    background-size: cover;
    position: relative;
    z-index: 1;
    min-height: 790px
}

@media (max-width: 767px) {
    .home_banner_area {
        background-position: initial;
    }
}

.home_banner_area .banner_inner {
    position: relative;
    width: 100%;
    min-height: 790px
}